body {
    font-family: 'Baloo Bhaijaan 2', cursive;
    margin: 0;
}

.logo img {
    width: 80px;
    position: fixed;
    top: 5px;
    left: 5px;
    border-radius: 5px;
}

.titulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #FF9505;
    padding: 20px;
}

.portada img {
    width: 100%;
    height: 75vh;

}

main {
margin: 0;
}
section {
    margin: 15px;
}
section h2 {
    padding: 5px;
    text-decoration: underline 5PX #FF9505;
    box-shadow: 5px 5px 10px #4b49476c;
}


/*------------------*/
#contenedor{
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: nowrap;
    justify-items: center;
}
#contenedor div {
    margin: 5px;
}


