body {
    font-family: 'Baloo Bhaijaan 2', cursive;
    margin: 0;
    background-image: url(../img/fondo.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}
.color {
    color: rgb(252, 5, 5);
}

.logo img {
    width: 80px;
    position: fixed;
    top: 5px;
    left: 5px;
    border-radius: 5px;
}

.titulo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #ffffff;

    padding: 20px;
}
.portada {
    display: flex;
    justify-content: center;
}
.portada img {
    width: 80%;
    height: 75vh;
    object-fit: cover;
    object-position: center;
}

.subtitulo1 div {
    margin: 10px;
    display: flex;
    justify-content: center;
}
.subtitulo1 h2 {
    width: 86%;
    color: #ffffff;
    padding: 5px;
    text-decoration: underline 5PX #FF9505;
    box-shadow: 1px 15px 10px #ff0101a9;
}

footer {
    margin-top: 5rem;
}

/*------------------*/
.contenedor1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around
}
.total {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}
#carrito {
    align-items: center;
}
.itemCarrito {
    width: 50%;
}


#lista{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.imgMultimedia {
    width: 33rem;
}